<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <add name="CoreDataContext"       
         connectionString="Data source=hurub;initial catalog=Stream;integrated security=False;multipleactiveresultsets=True;user id=sa;password=stalker45"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>